In [12]:
import pandas as pd
import wikipediaapi

df = pd.read_csv('data/companies.csv')

df

,company,address,municipality,income,employees,municipality_code
0,NorthTech ApS,"Wildersgade 51, København K",København,5,20,1
1,PFA,"Sundkrogsgade 4, København Ø",København,-79000,1464,1
2,Netcompany A/S,"Grønningen 17, København K",København,583573,2340,1
3,Elbek-vejrup,"Tangen 6, Aarhus N",Aarhus,43935,171,2
4,ELLAB A/S,"Trollesmindealle 25, Hillerød",Hillerød,136500,166,3
5,Wilke A/S,"Gråbrødrepassagen 9, Odense C",Odense,3834,175,4
6,Novo Nordisk,"Novo Alle 1, Bagsværd",Gladsaxe,47523000,22150,5
7,KMD A/S,"Lautrupparken 40, Ballerup",Ballerup,53926,1855,6
8,Alpha Solutions,"Gothersgade 14, København K",København,3477,59,1
9,Formpipe,"Lautrupvang 1, Ballerup",Ballerup,36583,87,6
10,Groupm Denmark A/S,"Holmbladsgade 133, København S",København,1195,266,1
11,Wash World ApS,"Dynamovej 11, Søborg",Gladsaxe,14822,72,5
12,Carve Consulting P/S,"Købmagergade 11, København K",København,3821,46,1
13,Precure,"Bryggeristræde 2, Allinge",Bornholm,-805,15,7
14,Meew,"Wildersgade 9, København K",København,451,43,1
15,Ooono,"Gearhalsvej 1, Valby",København,7001,40,1
16,Nuuday A/S,"Teglholmsgade 1, København SV",København,-390000,3642,1
17,Dynatest A/S,"Tempovej 27, Ballerup",Ballerup,3581,36,6
18,Lejka,"Jagtvej 157, København N",København,-1341,3,1
19,"Eriksholm Research Centre, Oticon","Kongebakken 9, Smørum",Egedal,1525319,1602,8
20,Dafolo,"Suderbovej 22, Frederikshavn",Frederikshavn,36271,83,9
21,Topdanmark,"Borupvang 4, Ballerup",Ballerup,2170000,2317,6
22,Brøndby IF,"Brøndby Stadion 30, Brøndby",Brøndby,83418,297,10

In [22]:
# Choose three companies for text processing:

chosen_companies = df.loc[[1, 6, 7], 'company']

print(chosen_companies)

1             PFA
6    Novo Nordisk
7         KMD A/S
Name: company, dtype: object

In [17]:
# Get company wikipedia information with WikipediaAPI
wiki_wiki = wikipediaapi.Wikipedia('dk')

company_wiki_texts = []

for company in chosen_companies:
    wikipage = wiki_wiki.page(company)
    company_wiki_textx.append(wikipage.text)
    

page_py = wiki_wiki.page('KMD')

print("Page - Title: %s" % page_py.title)

print("Page - Summary: %s" % page_py.text)

Page - Title: KMD
Page - Summary: KMD A/S hører til blandt de største danske it-virksomheder og udvikler og leverer software- og serviceløsninger til kommune-, stats- og erhvervssegmentet i Danmark samt udvalgte segmenter i Skandinavien. KMD har afdelinger i København, Århus, Odense og Aalborg, og er et datterselskab af NEC Corporation., der er globalt førende inden for integration af it- og netværksteknologier. KMD-koncernen har dattervirksomheder i Danmark, Norge, Sverige, Finland og Polen. KMD-koncernen har en årlig omsætning på omkring 4,8 mia. kr. og har mere end 3.000 ansatte. KMD's administrerende direktør er siden 2021 Per Erik Mikael Johansson, der afløste Eva Berneke.
Hvert år håndterer KMD’s system beløb, der svarer til cirka 20% af Danmarks bruttonationalprodukt. Det er bl.a. via KMD’s systemer, at danskerne modtager ydelser som kontanthjælp, børnepenge, barselsdagpenge, arbejdsløshedsdagpenge, førtidspension og folkepension. KMD har over 1.500 danske og internationale kunder fra den offentlige og private sektor, heraf cirka 800 danske og udenlandske virksomheder.
KMD A/S er det tidligere kommunedata der blev etableret i 1972 ved en sammenlægning af kommunale edb-centraler. KMD var indtil marts 2009 ejet af Kommune Holding A/S – det nuværende KOMBIT, der igen ejes af Kommunernes Landsforening (KL).


== Referencer ==